@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Why not stay for a moment and, Enjoy the Show!</h1>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <h1 class="ml3">KING KRULE</h1>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/DbUnTPv1ZAA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<body></body>
<script src="~/js/JavaScript.js"></script>